:root {
    --font-family-poppins: 'Poppins', sans-serif;
}

body {
    --login-sidebar: #e3f2fd;
    --login-button: #3f51b5;
    --login-button-text: white;
    --login-text: #333;
    --login-input-color: #666;
    --login-border: rgba(0, 0, 0, 0.1);
    --login-logo-color: #000;
    --login-input-border: rgba(0, 0, 0, 0.5);
}

body [data-theme='dark'] {
    --login-sidebar: #0c5183;
    --login-button: #3f51b5;
    --login-button-text: black;
    --login-text: #aaa;
    --login-input-color: #fff;
    --login-border: rgba(255, 255, 255, 0.1);
    --login-logo-color: #fff;
    --login-input-border: rgba(255, 255, 255, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.logo-1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: var(--login-logo-color);
    border: none;
    outline: none;
}

.login .welcome-title {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-poppins);
    font-weight: 700;
    font-size: 48px;
    text-decoration: none;
    text-transform: none;
    padding-top: 10px;
    color: var(--login-text);
}

.login .welcome-subtitle {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-poppins);
    font-weight: auto;
    font-size: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--login-input-color);
}

.node {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 2px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.group-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.group-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.logo-group {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.logo-2 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: var(--login-logo-color);
    border: none;
    outline: none;
}

.login .input-field {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-poppins);
    font-weight: normal;
    font-size: 36px;
    text-decoration: none;
    text-transform: none;
    color: var(--login-input-color);
    background-color: var(--login-sidebar);
    border: 1px solid var(--login-input-border);
    border-radius: 6px;
    height: 50px;
    width: calc(90% - 20px);
}

.main-frame {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding-top: 100px;
}

.login .text-field {
    display: flex;
    flex-direction: column;
}

.pasword-hide-toggle {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: row;
}

.eye-icon {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.hide-text {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-poppins);
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--login-input-color);
}

.login .forgot-password {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-poppins);
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--login-text);
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-button {
    width: 25%;
    height: auto;
    padding: 0.75rem;
    font-family: var(--font-family-poppins);
    background-color: var(--login-button);
    color: var(--login-button-text);
    border: none;
    border-radius: 200px;
    cursor: pointer;
    font-size: 2rem;
    margin-bottom: 2vh;
  }

.squares {
    float: right;
    width: 50%;
    background-color: var(--login-button-text);
}

.login {
    overflow: hidden
}

.login-form {
    position: relative;
    width: 50%;
    border: 1px solid var(--login-border);
    background-color: var(--login-sidebar);
    padding-bottom: 75%;
    padding-left: 20px;
}

.password-hide-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 10px;
    padding-right: 100px;
    position: relative;
    top: 40px;
}

.login .input-label {
    color: var(--login-text);
}