:root {
    --font-family-poppins: 'Poppins', sans-serif;
    --text-rgb-1: rgba(51, 51, 51, 1);
    --text-rgb-2: rgba(102, 102, 102, 1);
    --text-rgb-3: rgba(17, 17, 17, 1);
}

.text-rgb-1 {
    color: var(--text-rgb-1);
}

.text-rgb-2 {
    color: var(--text-rgb-2);
}

.text-rgb-3 {
    color: var(--text-rgb-3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

.logo-1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(196, 196, 196, 1);
    border: none;
    outline: none;
}

.welcome-title {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-poppins);
    font-weight: 700;
    font-size: 48px;
    text-decoration: none;
    text-transform: none;
    padding-top: 10px;
    color: var(--text-rgb-1);
}

.welcome-subtitle {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-poppins);
    font-weight: auto;
    font-size: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-2);
}

.node {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 2px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.group-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.group-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.logo-group {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.logo-2 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(196, 196, 196, 1);
    border: none;
    outline: none;
}

.login .input-field {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-poppins);
    font-weight: normal;
    font-size: 36px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-2);
    background-color: #e3f2fd;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    height: 50px;
    width: calc(90% - 20px);
}

.main-frame {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding-top: 100px;
}

.login .text-field {
    display: flex;
    flex-direction: column;
}

.pasword-hide-toggle {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: row;
}

.eye-icon {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.hide-text {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-poppins);
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-2);
}

.forgot-password {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-poppins);
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-button {
    width: 25%;
    height: auto;
    padding: 0.75rem;
    font-family: var(--font-family-poppins);
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    font-size: 2rem;
    margin-bottom: 2vh;
  }

.squares {
    float: right;
    width: 50%;
}

.login {
    overflow: hidden
}

.login-form {
    position: relative;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e3f2fd;
    padding-bottom: 75%;
}

.password-hide-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 10px;
    padding-right: 100px;
    position: relative;
    top: 40px;
}