:root {
    --font-family-roboto: 'Roboto', sans-serif;
    --text-black: rgba(0, 0, 0, 1);
    --text-white: rgba(255, 255, 255, 1);
}

.text-black {
    color: var(--text-black);
}

.text-white {
    color: var(--text-white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --contact-text-color: #000;
    --input-color: #eee;
    --square: #119cb1;
    --element-color: #1edcf9;
    --background-color: rgba(227, 242, 253, 1);
}

body [data-theme='dark'] {
    --contact-text-color: #fff;
    --input-color: #888;
    --element-color: #137787;
}

img {
    max-width: 100%;
    height: auto;
}

.form-title {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: 700;
    font-size: 60px;
    line-height: 48px;
    text-decoration: none;
    text-transform: none;
    color: var(--contact-text-color);
}

.form-subtitle {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--contact-text-color);
}

.form-titles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.form-label {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--contact-text-color);
}

.form-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding: 8px 12px 8px 12px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
    font-family: var(--font-family-roboto);
    background-color: var(--input-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: var(--font-family-roboto);
    gap: 4px;
    padding-bottom: 20px;
    position: relative;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.form-button {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-white);
    background-color: black;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 10px;
}

.divider {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
}

.logo-text {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 62.5px;
    line-height: 100px;
    text-decoration: none;
    text-transform: none;
    color: var(--contact-text-color);
}

.contact-us {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--element-color);
}

.contact {
    @media (max-width: 1440px) {
        .contact {
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    @media (max-width: 768px) {
        .contact {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: var(--background-color);
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 40px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.form {
    width: 50%;
}

.info {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: min-content;
    background-color: var(--element-color);
    font-family: var(--font-family-roboto);
    font-weight: bold;
    font-size: 24px;
    position: relative;
    left: 10px;
    top: 10px;
    padding: 10px;
    width: 25%
}

.open-time {
    display: inline-block;
    /* padding: 20px; */
    background-color: var(--square);
    font-size: 36px;
    color: #fff;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-bottom: -10px;
}

.map {
    position: absolute;
    right: 10%;
    top: 50px;
    width: 30%;
}

.map-square {
    width: 300px;
    height: 200px;
    background-color: #ccc;
    position: absolute;
    top: 100px;
    right: 20%;
}

.contact .square-1 {
    width: 20px;
    height: 20px;
    background-color: var(--square);
    position: absolute;
    rotate: 27deg;
    top: 120px;
    left: 90%;
}

.contact .square-2 {
    width: 20px;
    height: 20px;
    background-color: var(--square);
    position: absolute;
    top: 320px;
    left: 1%;
}

.contact .square-3 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 350px;
    left: 61%;
}

.contact .square-4 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 350px;
    left: 75%;
}

.contact .square-5 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 410px;
    left: 1%;
}

.contact .square-6 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 435px;
    left: 20%;
}

.contact .square-7 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 650px;
    left: 3%;
}

.contact .paws-1 {
    font-size: 60px;
    position: absolute;
    left: 20%;
    top: 120px;
    rotate: 20deg;
}

.contact .paws-2 {
    font-size: 60px;
    position: absolute;
    left: 25%;
    top: 530px;
    rotate: 20deg;
}

.contact .paws-3 {
    font-size: 60px;
    position: absolute;
    rotate: 20deg;
    left: 3%;
    top: 740px;
}

.contact .logo {
    width: 25px;
    height: auto;
}

.form-textarea {
    width: 100%;
    font-family: var(--font-family-roboto);
    background-color: var(--input-color);
}

.info-text {
    padding-top: 20px;
    padding-bottom: 10px;
    color: var(--contact-text-color);
}