:root {
    --font-family-roboto: 'Roboto', sans-serif;
}

.sidebar {
    font-size: 28px;
    background-color: #eee;
    width: 10%;
    border: 1px solid #bbb;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.sidebar-item-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bbb;
    border-radius: 50%;
}

.catalog {
    display: flex;
    flex-direction: row;
    font-family: var(--font-family-roboto);
    background-color: rgba(227, 242, 253, 1);
}



.image-box {
    height: 150px;
    width: 200px;
    max-width: 200px;
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 5px 3px 2px rgba(0, 0, 0, 0.1);
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adopt-button {
    border: 1px solid #444;
    border-radius: 10px;
    color: white;
    background-color: #444;
    width: 80px;
    box-shadow: 5px 3px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 50%;
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.catalog-items-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 200px;
    background-color: #1edcf9;
}

.animal-species {
    position: relative;
    top: 12.5%;
    left: 2.5%;
    width: auto;
    max-width : 50px;
    border: 1px solid #444;
    border-radius: 10px;
    text-align: center;
    background-color: #ccc;
}

.square-1 {
    width: 30px;
    height: 30px;
    background-color: #119cb1;
    position: absolute;
    top: 65px;
    left: 32%;
    rotate: 27deg;
}

.square-2 {
    width: 30px;
    height: 30px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 65px;
    left: 71%;
}

.square-3 {
    width: 30px;
    height: 30px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 220px;
    left: 71%;
}

.square-4 {
    width: 30px;
    height: 30px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 150px;
    left: 75%;
}

.square-5 {
    width: 30px;
    height: 30px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 265px;
    left: 37.5%;
}

.square-6 {
    width: 30px;
    height: 30px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 320px;
    left: 73%;
}

.square-7 {
    width: 30px;
    height: 30px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 480px;
    left: 24%;
}

.square-8 {
    width: 30px;
    height: 30px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 480px;
    left: 70%;
}

.square-9 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 560px;
    left: 56.5%;
}

.square-10 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 620px;
    left: 20.5%;
}

.square-11 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 685px;
    left: 32.75%;
}

.square-12 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 685px;
    left: 73.5%;
}

.square-13 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 760px;
    left: 22.5%;
}

.square-14 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 760px;
    left: 71%;
}

.square-15 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 890px;
    left: 10.25%;
}

.square-16 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 930px;
    left: 61%;
}

.square-17 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 980px;
    left: 71%;
}

.paws-1 {
    font-size: 60px;
    position: absolute;
    top: 120px;
    left: 70%;
    rotate: -25deg;
}

.paws-2 {
    font-size: 60px;
    position: absolute;
    top: 400px;
    left: 74%;
    rotate: 60deg;
}

.paws-3 {
    font-size: 60px;
    position: absolute;
    top: 520px;
    left: 70%;
    rotate: 20deg;
}

.paws-4 {
    font-size: 60px;
    position: absolute;
    top: 770px;
    left: 71%;
    rotate: 110deg;
}

.paws-5 {
    font-size: 60px;
    position: absolute;
    top: 1025px;
    left: 72%;
    rotate: 25deg;
}