:root {
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-inter: 'Inter', sans-serif;
    --text-black: rgba(0, 0, 0, 0.5);
    --text-white: rgba(255, 255, 255, 1);
  }
  
  body {
    --background-color: #e3f2fd;
    --logo-color: #0a142f;
    --home-text-color: #000;
    --secondary-button: #fff;
    --news-frame: #1edcf9;
    --article-subtitle: rgba(0, 0, 0, 0.5);
  }

  body [data-theme='dark'] {
    --background-color: #0c5183;
    --home-text-color: #fff;
    --secondary-button: #333;
    --news-frame: #137787;
    --article-subtitle: rgba(255, 255, 255, 0.5);
  }

  .text-black {
    color: var(--text-black);
  }
  
  .text-white {
    color: var(--text-white);
  }
  
  
  /* CSS Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  img {
    height: auto;
  }
  
  .facebook {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: var(--logo-color);
    border: none;
    outline: none;
  }
  
  .vimeo {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(10, 20, 47, 1);
    border: none;
    outline: none;
  }
  
  .twitter {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(10, 20, 47, 1);
    border: none;
    outline: none;
  }
  
  .node-1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    opacity: 0.5;
  }
  
  .switch-2 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    background-color: rgba(233, 233, 233, 1);
    border-radius: 360px;
  }
  
  .bright {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    fill: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
  }
  
  .light {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 25px;
    fill: rgba(147, 147, 147, 1);
    border: none;
    outline: none;
  }
  
  .light-ic {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }
  
  .bright-switch {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }
  
  .switch {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border-radius: 360px;
  }
  
  .paw {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 62.5px;
    line-height: 100px;
    text-decoration: none;
    text-transform: none;
  }
  
  .decoration-1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(17, 156, 177, 1);
    opacity: 0.5;
  }
  
  .decoration-2 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(17, 156, 177, 1);
  }
  
  .review-header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    color: var(--home-text-color);
  }
  
  .review-subheader {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    color: var(--home-text-color);
  }
  
  .avatar {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 32px;
  }
  
  .name-text {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 28px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--home-text-color);
  }
  
  .user-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
  
  .avatar-frame {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    width: 66.34334667308912%;
  }
  
  .stars {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(255, 199, 0, 1);
    border: none;
    outline: none;
  }
  
  .user-stars {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin-top: -10%;
    margin-right: -100%;
  }
  
  .user-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 25.694444444444443%;
    margin-bottom: -10%;
  }
  
  .review {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--home-text-color);
  }
  
  .user-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 25.555555555555554%;
    margin-bottom: -10%;
  }
  
  .reviews {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: var(--background-color);
    padding-bottom: 20%;
    gap: 200px;
  }

  .user-reviews {
    display: flex;
    gap: 200px;
    align-items: center;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .slice-1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }
  
  .news-title {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-decoration: none;
    text-transform: none;
    color: var(--home-text-color);
  }
  
  .news-subtitle {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 32px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--home-text-color);
  }
  
  .emoji {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 62.5px;
    line-height: 100px;
    text-decoration: none;
    text-transform: none;
    color: var(--home-text-color);
  }

  .article-title {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 32px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--home-text-color);
  }
  
  .article-subtitle {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--article-subtitle);
    position: relative;
    top: 10px;
    padding-bottom: 10px;
  }
  
  .article-date {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    text-decoration: none;
    text-transform: none;
    color: var(--home-text-color);
  }
  
  .text-19 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-black);
  }
  
  .text-20 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-black);
  }
  
  .text-21 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-black);
  }
  
  .news-picture {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--home-text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .image {
    width: 320px;
    height: 240px;
    flex-basis: auto;
    background-color: rgba(217, 217, 217, 0.5);
  }
  
  .image-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 320px;
    position: absolute;
    right: 10%;
    margin-top: -5%;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  }
  
  .some-frame {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding-top: 3%;
    padding-left: 5%;
    background-color: var(--news-frame);
    
  }

  .news-items {
    display: flex;
    align-items: center;
    gap: 300px;
  }
  
  .news-item {
    text-align: center;
  }

  .rectangle-1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(17, 156, 177, 1);
  }
  
  .site-title {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: 1000;
    font-size: 52px;
    line-height: 100px;
    text-decoration: none;
    text-transform: none;
    color: var(--home-text-color);
    margin-top: -7.5%;
    position: relative;
    left: 10%;
  }
  
  .node-2 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    width: 20%;
    height: auto;
    position: relative;
    right: 20%;
  }
  
  .site-subtitle {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-inter);
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--home-text-color);
    margin-left: -20%;
    margin-bottom: -1%;
  }
  
  .count-number {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-inter);
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--home-text-color);
  }
  
  .count-animal {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-inter);
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    text-transform: none;
    color: var(--home-text-color);
  }
  
  .catcount {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }

  .count {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 64px;
    text-align: center;
    margin-bottom: -5%;
    margin-left: -10%;
  }
  
  .dogcount {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }
  
  .secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    border: 1px solid black;
    background-color: var(--secondary-button);
    color: var(--home-text-color);
    border-radius: 8px;
    font-size: 16px;
    width: 500%;
  }
  
  .text-30 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-white);
  }
  
  .primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: auto;
    background-color: rgba(18, 175, 199, 1);
    color: white;
    font-size: 16px;
    border-radius: 8px;
    width: 500%;
  }
  
  .button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 360px;
    padding: 0px;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    margin-bottom: -12.5%;
    margin-left: -25%;
  }
  
  .node-3 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: var(--background-color);
  }
  
  .news-frame {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
  }
  
  .logo-circle {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
  }
  
  .nav-text {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: none;
    color: var(--home-text-color);
  }
  
  .text-31 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: var(--font-family-roboto);
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: none;
    color: var(--text-black);
  }
  
  .search-ic-img {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    fill: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
  }
  
  .search-ic {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }
  
  .search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    padding: 8px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 29.069767441860467%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }
  
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(30, 220, 249, 1);
  }
  
  .logo {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    width: 100%;
    height: auto;
  }
  
  .menubar {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }
  
  .home {
  @media (max-width: 1440px) {
    .home {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  
  @media (max-width: 768px) {
    .home {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: var(--background-color);
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .home .square-1 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 100px;
    left: 50%;
  }

  .home .square-2 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 150px;
    left: 90%;
  }

  .home .square-3 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 200px;
    left: 85%;
  }

  .home .square-4 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 275px;
    left: 11%;
  }

  .home .square-5 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 280px;
    left: 90%;
  }

  .home .square-6 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 330px;
    left: 7.5%;
  }

  .home .square-7 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 350px;
    left: 85%;
  }

  .home .square-8 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 380px;
    left: 10%;
  }

  .home .square-9 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 400px;
    left: 49%;
  }

  .home .square-10 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 430px;
    left: 5%;
  }

  .home .square-11 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 450px;
    left: 85%;
  }

  .home .square-12 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 925px;
    left: 27.5%;
  }

  .home .square-13 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 925px;
    left: 80%;
  }

  .home .square-14 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 980px;
    left: 32.5%;
  }

  .home .square-15 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 980px;
    left: 40%;
  }

  .home .square-16 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 1000px;
    left: 23%;
  }

  .home .square-17 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 1090px;
    left: 38%;
  }

  .home .square-18 {
    width: 20px;
    height: 20px;
    background-color: #119cb1;
    position: absolute;
    rotate: 27deg;
    top: 1100px;
    left: 23.5%;
  }